.app {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
  background: #160f2b;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* кастомизация скролла */

.app::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

.app::-webkit-scrollbar-track {
  background: #2F2F37;
}

.app::-webkit-scrollbar-thumb {
  background: #ada5c754;
}

.app::-webkit-scrollbar-thumb:hover {
  background: #ada5c78a;
}