.card {
  width: 300px;
  height: 120px;
  margin: 140px auto 50px;
  position: relative;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 1px 5px #ada5c754;
  transition: 1s;
}

.title {
  top: 50px;
  overflow: hidden;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #ada5c7;
  font-family: 'JetBrains Mono', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: .7s;
}

.mainText {
  width: 0;
  height: 0;
  padding-left: 10px;
  top: 250px;
  overflow: hidden;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ada5c7;
  overflow-y: scroll;
  transition: .5s;
  opacity: 0;
  font-family: 'JetBrains Mono', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  left: 0;
  right: 0;
  top: -140px;
  text-align: center;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: 0 0 1px 5px #ada5c754;
  transition: .8s;
  overflow: hidden;
}

.link {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 20px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #8270be;
  background: radial-gradient(#322657e0, #160f2bc4);
  border-radius: 10% 30%;
  transition: .8s;
  opacity: 0;
  font-family: 'JetBrains Mono', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link:hover {
  background-color: #b7b4c46a;
}

.card:hover {
  height: 440px;
  width: 460px;
  border-radius: 10% 30%;
}

.card:hover .image {
  width: 300px;
  height: 300px;
  top: -180px;
  border-radius: 10% 30%;
}

.card:hover .mainText {
  width: 90%;
  height: 200px;
  opacity: 1;
  padding-right: 10px;
  top: 150px;
}

.card:hover .link {
  width: 200px;
  height: 25px;
  opacity: 1;
}

.card:hover .title {
  top: 105px;
}


/* кастомизация скролла */

.mainText::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}

.mainText::-webkit-scrollbar-track {
  background: #2F2F37;
}

.mainText::-webkit-scrollbar-thumb {
  background: #ada5c754;
}

.mainText::-webkit-scrollbar-thumb:hover {
  background: #ada5c78a;
}