.section {
  height: fit-content;
  padding-bottom: 140px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 20px auto;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  border-bottom: 5px solid #ada5c754;
  line-height: 45px;
  color: #ada5c7;
  font-family: 'JetBrains Mono', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.list {
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  list-style-type: none;
}

.listItem {
  position: relative;
  height: fit-content;
  padding-top: 110px;
}


@media screen and (max-width: 1400px) {
  .list {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .list {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
}
